@import 'src/app';

.remark-group
  display flex
  flex-wrap wrap
  .remark-checkbox
    font-size 26rpx
    color $color-font-black
    padding 16rpx 24rpx
    background-color $color-bg-disabled
    margin 0 20rpx 20rpx 0

    &.checked
      background-color rgba(255, 218, 0, 0.15)